In [1]:
import matplotlib.pyplot as plt
import uproot
import numpy as np
import pandas as pd

from pathlib import Path
from sklearn.model_selection import train_test_split

from datetime import datetime
import sys
sys.path.insert(1, '/afs/desy.de/user/a/axelheim/private/MC_studies/Dstlnu_Bt_generic/util_funcs/')
from pandas_colFuncs_physicsVars import Mbc_Btag, MM2recoilSignalSide, deltaE

In [2]:
root_path = "/nfs/dust/belle2/user/axelheim/MC_studies/Dstlnu_Bt_generic/miscAnalysis/testMbc_basf2/"

In [3]:
identifier = "_0"

In [4]:
fileY4S = uproot.open(root_path + "DXtagDstl" + identifier + ".root:variables")
df_Y4S = fileY4S.arrays(library="pd")

In [5]:
df_Y4S.shape[0]

11

In [6]:
names = ["gammas","electrons","pions","kaons","muons"]
dfs = []
for name in names:
    filename = root_path + "{}".format(name) + identifier + ".root:variables"
    print(filename)
    tmpFileFSPs = uproot.open(filename)
    df_tmp = tmpFileFSPs.arrays(library="pd")
    dfs.append(df_tmp)
df_FSPs = pd.concat(dfs)

/nfs/dust/belle2/user/axelheim/MC_studies/Dstlnu_Bt_generic/miscAnalysis/testMbc_basf2/gammas_0.root:variables
/nfs/dust/belle2/user/axelheim/MC_studies/Dstlnu_Bt_generic/miscAnalysis/testMbc_basf2/electrons_0.root:variables
/nfs/dust/belle2/user/axelheim/MC_studies/Dstlnu_Bt_generic/miscAnalysis/testMbc_basf2/pions_0.root:variables
/nfs/dust/belle2/user/axelheim/MC_studies/Dstlnu_Bt_generic/miscAnalysis/testMbc_basf2/kaons_0.root:variables
/nfs/dust/belle2/user/axelheim/MC_studies/Dstlnu_Bt_generic/miscAnalysis/testMbc_basf2/muons_0.root:variables

In [7]:
df_Y4S['Hc_px']=df_Y4S['Hc_Px']
df_Y4S['Hc_py']=df_Y4S['Hc_Py']
df_Y4S['Hc_pz']=df_Y4S['Hc_Pz']

In [8]:
df_FSPs[df_FSPs["basf2_X"]==1]

,__experiment__,__run__,__event__,__candidate__,__ncandidates__,__weight__,basf2_X,basf2_used,basf2_Bsig,isSignal,...,mcMother6_uniqParID,mcMother7_uniqParID,mcMother8_uniqParID,mcMother9_uniqParID,cmpx,cmpy,cmpz,cmE,mcPhotos,goodBelleGamma
0,1003,0,2332048,0,10,1.0,1.0,1.0,0.0,1.0,...,NaN,NaN,NaN,NaN,0.188696,-0.391893,0.407984,0.596354,1.0,1.0
1,1003,0,2332048,1,10,1.0,1.0,1.0,0.0,1.0,...,NaN,NaN,NaN,NaN,0.037018,-0.036553,0.025405,0.057896,0.0,1.0
2,1003,0,2332048,2,10,1.0,1.0,1.0,0.0,1.0,...,NaN,NaN,NaN,NaN,0.001352,-0.068801,0.024947,0.073197,0.0,1.0
3,1003,0,2332048,3,10,1.0,1.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.055918,-0.189923,0.031546,0.200481,0.0,1.0
4,1003,0,2332048,4,10,1.0,1.0,1.0,0.0,1.0,...,NaN,NaN,NaN,NaN,-0.036024,0.117559,0.015028,0.123870,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9,1003,0,2333840,0,2,1.0,1.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.367612,-0.135566,0.292028,0.499961,NaN,NaN
10,1003,0,2333840,1,2,1.0,1.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,-0.416750,0.274990,0.036274,0.511644,NaN,NaN
14,1003,0,3672474,0,1,1.0,1.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,-0.091220,-0.138049,-0.111892,0.225969,NaN,NaN
17,1003,0,3676060,0,4,1.0,1.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.204008,0.117296,0.052841,0.263312,NaN,NaN
20,1003,0,3676060,3,4,1.0,1.0,1.0,0.0,1.0,...,NaN,NaN,NaN,NaN,-0.076205,-0.395344,0.559778,0.697581,NaN,NaN

In [9]:
predCase = [1,"X"]
df_predCase = df_FSPs[df_FSPs["basf2_X"]==1]

fourMom_summed_preds = tmp = pd.DataFrame({f'px_summed_{predCase[1]}' : df_predCase.groupby(["__event__"])["px"].sum(),
                             f'py_summed_{predCase[1]}' : df_predCase.groupby(["__event__"])["py"].sum(),
                             f'pz_summed_{predCase[1]}' : df_predCase.groupby(["__event__"])["pz"].sum(),
                             f'E_summed_{predCase[1]}' : df_predCase.groupby(["__event__"])["E"].sum(),
                       
                       f'CMSpx_summed_{predCase[1]}' : df_predCase.groupby(["__event__"])["cmpx"].sum(),
                             f'CMSpy_summed_{predCase[1]}' : df_predCase.groupby(["__event__"])["cmpy"].sum(),
                             f'CMSpz_summed_{predCase[1]}' : df_predCase.groupby(["__event__"])["cmpz"].sum(),
                             f'CMSE_summed_{predCase[1]}' : df_predCase.groupby(["__event__"])["cmE"].sum()}).reset_index()

In [10]:
fourMom_summed_preds = pd.merge(fourMom_summed_preds,df_Y4S[["__event__","Hc_px","Hc_py","Hc_pz","Hc_E","dau0_Mbc","dau0_cmpx","Hc_cmPx","dau0_cmpy","Hc_cmPy","dau0_cmpz","Hc_cmPz"]],on=["__event__"])

In [11]:
fourMom_summed_preds["Mbc_Btag"] = fourMom_summed_preds.apply(Mbc_Btag,axis=1)

In [12]:
fourMom_summed_preds.keys()

Index(['__event__', 'px_summed_X', 'py_summed_X', 'pz_summed_X', 'E_summed_X',
       'CMSpx_summed_X', 'CMSpy_summed_X', 'CMSpz_summed_X', 'CMSE_summed_X',
       'Hc_px', 'Hc_py', 'Hc_pz', 'Hc_E', 'dau0_Mbc', 'dau0_cmpx', 'Hc_cmPx',
       'dau0_cmpy', 'Hc_cmPy', 'dau0_cmpz', 'Hc_cmPz', 'Mbc_Btag'],
      dtype='object')

In [13]:
fourMom_summed_preds["Btag_cm_px"] = fourMom_summed_preds["Hc_cmPx"] + fourMom_summed_preds["CMSpx_summed_X"]
fourMom_summed_preds["Btag_cm_py"] = fourMom_summed_preds["Hc_cmPy"] + fourMom_summed_preds["CMSpy_summed_X"]
fourMom_summed_preds["Btag_cm_pz"] = fourMom_summed_preds["Hc_cmPz"] + fourMom_summed_preds["CMSpz_summed_X"]

In [14]:
fourMom_summed_preds[["Mbc_Btag","dau0_Mbc","Btag_cm_px","dau0_cmpx","Btag_cm_py","dau0_cmpy","Btag_cm_pz","dau0_cmpz"]]

,Mbc_Btag,dau0_Mbc,Btag_cm_px,dau0_cmpx,Btag_cm_py,dau0_cmpy,Btag_cm_pz,dau0_cmpz
0,5.077008,5.076778,-0.308868,-0.308868,-1.448143,-1.448143,-0.124764,-0.124764
1,5.200184,5.199958,-0.969886,-0.969886,0.038320,0.038320,-0.006525,-0.006524
2,4.929637,4.929400,1.898677,1.898677,-0.256515,-0.256515,0.109547,0.109547
3,5.150345,5.150118,-0.637712,-0.637712,0.993700,0.993700,-0.252839,-0.252839
4,5.172744,5.172518,0.218573,0.218573,-0.347978,-0.347978,1.028569,1.028570
5,5.116920,5.116691,-1.312295,-1.312295,0.277763,0.277763,0.044268,0.044268
6,5.104499,5.104269,1.210351,1.210351,-0.186425,-0.186425,-0.654592,-0.654592
7,5.076309,5.076079,-0.366426,-0.366426,1.403162,1.403162,0.334746,0.334746
8,5.091938,5.091708,0.338469,0.338469,-1.140817,-1.140817,0.800155,0.800154
9,5.203974,5.203749,-0.846509,-0.846509,0.254887,0.254887,-0.348157,-0.348157
10,5.151830,5.186025,0.723347,0.177022,-0.572889,0.294403,0.768970,0.984324

In [ ]:
fig, ax = plt.subplots()
fig.suptitle(r' ')
fig.set_size_inches(8, 5)

ax.set_xlabel(r'pred_prob')
ax.set_ylabel("next_pred_prob")


ax.scatter(fourMom_summed_preds["Mbc_Btag"],fourMom_summed_preds["dau0_Mbc"],s=0.01)